<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dice-history">
        <ion-icon name="time"></ion-icon>
        <ion-label>Historic</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="dice-throwing">
        <ion-icon src="../assets/dice.svg"></ion-icon>
        <ion-label>Dice Throw</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dice-picker">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Picker</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-app>
