<ion-header>
  <ion-toolbar>
    <ion-title>Dice Throwing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id='fullScreenContent'>
	<ion-item button='true' id='fullScreenButton' (click)="throwDice()">
		<ion-label id='fullScreenLabel'>{{ this.lastroll }}</ion-label>
	</ion-item>
</ion-content>
