#fullScreenContent {
	width:100%;
	height:100%;
}
#fullScreenButton {
	width:100%;
	height:100%;
	margin:auto;
	padding:auto;
	display:flex;
}
#fullScreenLabel {
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-size-adjust:4;
	vertical-align:center;
}

