ion-fab {
    position: fixed;
    bottom: 7.5ex;
    animation-name: slidein;
    animation-duration: 0.5s;
}

.scroller {
    overflow: auto;
    height: 100%;
}

ion-fab-button {
    opacity: 1;
}

@keyframes slidein {
    from {
      bottom: 0;
      opacity: 0; 
    }
  
    to {
      bottom: 7.5ex;
      opacity: 1;
    }
  }