ion-grid {
    max-width: 20em;
}

ion-grid ion-col {
    display: grid;
    grid-template-columns: 1fr;
}

ion-grid ion-row {
    height: 100%;
}

ion-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}