<ion-header>
  <ion-toolbar>
    <ion-title>Dice Picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-grid fixed>
    <ion-row justify-content-center align-items-center>
      <ion-col>
          <ion-button size="large" (click)="setDiceSize(4)">
            1d4
          </ion-button>
          <ion-button size="large" (click)="setDiceSize(8)">
            1d8
          </ion-button>
          <ion-button size="large" (click)="setDiceSize(12)">
            1d12
          </ion-button>
      </ion-col>
      <ion-col>
          <ion-button size="large" (click)="setDiceSize(6)">
            1d6
          </ion-button>
          <ion-button size="large" (click)="setDiceSize(20)">
            1d20
          </ion-button>
          <ion-button size="large" (click)="setDiceSize(100)">
            1d100
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
